@mixin fg($color) {
    color: $color!important;
}

@mixin bg($color) {
    background-color: $color!important;
}

@mixin br($color) {
    border-color: $color!important;
}


@mixin colors($frontColor, $backColor, $borderColor) {
    @include fg($frontColor);
    @include bg($backColor);
    @include br($borderColor);
}