@import "mixins";

$dark: #1e1e1e;
$light: #2e2e2e;
$text: #ececec;

$blue: #2196F3;
$orange: #ff9800;
$red: #F44336;

@mixin setColors($backColor) {
  @include colors($text, $backColor, $backColor);
}

@mixin setBg($backColor) {
  @include bg($backColor);
  @include fg($text);
}

// Main page content (at top for fast loading)
.content-section {
  @include setBg($dark);
}

.left-hub-content .node-content .text,
.node-link > .node-content, .grid-cell a,
.watermark,
.bowtie-icon,
.selected-item-text,
.text-filter-box input,
.grid-row,
.ui-widget-content,
.ui-dialog .ui-dialog-title,
.query-type .pivot-filter li.selected .text,
.query-type .pivot-filter li .text,
.work-item-view legend,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.mapping-pane-title,
.vc-history-basic-filter .selected-filter,
.grid-header,
label, legend,
.board-tile .assignedTo,
.tbPivotItem .witTitle,
th .witState,
.pivot-filter .title,
.hub-title-right, .hub-title-right-secondary,
.views a,
.rendered-markdown,
.rendered-markdown h2,
.agile-board .member.header,
.tbTile .clickableTitle,
.parentTbTile .witState,
.tbTile .witTitle,
.field-container.assignedTo,
.tbTile .witAssignedTo,
table[aria-label="Second-level navigation"] .menu-item .text,
.vc-history-list .results-container .history-result a,
.vc-history-list .results-container .history-result a:link,
.vc-history-list .results-container .history-result a:visited {
  color: $text !important;
}

.splitter.horizontal > .handleBar,
.menu-item.toggle-on,
.combo > div.wrap > input.invalid,
.combo.invalid > div.wrap > input,
.menu-item.toggle-on,
.vc-history-list .results-container .history-result .result-details .change-link-container .more-comment-link,
.vc-history-list .results-container .group-header,
.ui-tabs .ui-tabs-nav,
.splitter > .handleBar, .splitter > .handleBar-clone,
.agile-board .board-tile,
.board-tile.ui-draggable-dragging,
.vsts-header .hub-bar .left-section,
.hub-bar .header-table .right-section {
  background-color: $light;
}

.left-hub-content .ui-droppable,
.workitem-header-bar,
.text-filter-box,
.vc-pullrequest-review-view .tabContent-two-pane > .with-background,
.ui-dialog .ui-dialog-titlebar,
.agile-board .horizontal > .agile-content-container > .content-container-innerDiv-class .horizontal-table,
.ui-droppable,
.taskboard-content-row .taskboard-expander, .taskboard-content-row .taskboard-parent,
.hub-pivot-content,
.vc-pullrequest-review-view .tabContent-two-pane > .centerPane-static,
.vc-pullrequest-create-panel {
  background-color: $dark;
}

/******************************************************************/
/********************** PULL REQUEST PAGE *************************/

.vc-change-summary .changed-files-summary-header,
.vc-change-summary > *,
.vc-change-summary-files .files-container,
.vc-pullrequest-review-view .bowtie textarea,
.vc-pullrequest-review-view .bowtie input[type=text],
.vc-discussion-thread-inputtextbox {
  @include setColors($dark);
}

.vc-change-summary-files .file-container {
  @include setColors($light);
}

.vc-pullrequest-review-view {
  .vc-pullrequest-activity-box,
  .vc-pullrequest-activity-header,
  .vc-pullrequest-activity-body,
  .vc-pullrequest-activity-box.subdued,
  .discussion-input .vc-pullrequest-activity-header .vc-discussion-thread-comment {
    @include setColors($light);
  }
}

.vc-pullrequest-review-view .vc-pullrequest-activity-feed {
  @include setColors($dark);
}

.vc-change-summary-files .file-cell .file-name-link {
  color: $text;
}

.vc-pullrequest-title-input,
.vc-pullrequest-description-input,
.identity-picker-input,
.vc-pullrequest-view-details-relatedartifacts-addartifactbox.textbox-input,
.vc-discussion-thread-comment .vc-discussion-thread-renderarea {
  background-color: $light !important;
  color: $text !important;
}

// Pull request list
.vc-pullrequest-results-row {
  background-color: $dark;
  color: $text;
  border-bottom: 1px solid rgba(64, 64, 64, 0.7); // very light gray

  &:hover {
    background-color: $light;
  }
}

.vc-pullrequest-results-row {
  .primary-text {
    &:link, &:visited {
      color: $text !important;
    }
  }
}

// Pull request comments
.vc-pullrequest-review-view .vc-pullrequest-activity-box.inline-comment .vc-discussion-thread-box {
  background-color: $dark;
  border-color: $dark;

  .vc-discussion-thread-comment {
    @include setBg($dark);

    .vc-discussion-thread-renderarea {
      @include setBg($dark);

      p {
        color: $text;

        code {
          background-color: $light;
        }
      }
    }

    .vc-discussion-comment-header {
      .vc-discussion-comment-author {
        color: $text;
      }
    }
  }
}

// Pull request completed box
.callout.completed {
  @include setBg($dark);
}

/******************************************************************/
/************************* WORK VIEW ******************************/

.grid .grid-row {
  &.grid-row-selected,
  &.grid-row-hover,
  &.grid-row-current {
    @include bg($light);

    .grid-context-menu {
      @include bg($light);
    }
  }
}

.grid-gutter {
  .grid-gutter-row-current,
  .grid-gutter-row-selected,
  .grid-row-hover {
    background-color: $light !important;
  }

  .grid-gutter-row-normal {
    background-color: $dark;
  }
}

// Right click menu
ul.menu-popup {
  .menu.sub-menu {
    .menu-item, .menu-item-container {
      @include setBg($dark);

      &.hover, &.focus {
        background-color: $light !important;
      }

      .drop {
        color: $text;
      }
    }
    border-color: $dark;
  }
  border-color: $dark;
}

/******************************************************************/
/** TITLEBARS *****************************************************/

ul.hubs-menubar {
  .menu-item {
    &.hover, &.currently-selected {
      background-color: $dark !important;
    }
  }
}

.hub-selector .menu.sub-menu {

  & > .menu-item-container > .menu-item,
  .menu-item.second-level-menu {
    background-color: $dark !important;
    color: $text;

    &.hover {
      background-color: $light !important;
    }

    .icon, .drop {
      color: $text;
    }
  }

  .menu-item.menu-item-separator {
    background-color: $dark !important;
  }
}

/******************************************************************/
/******************************************************************/

.dashboard-landing .hub-content,
.tree-drag-tile.folder > .node-link > .node-content,
.tree-view .folder > .node-link > .node-content,
.hub-content,
.ui-dialog > * {
  background-color: $dark !important;
  color: $text;
}

.add-panel {
  background-color: $light;
}

.tags-add-button .tag-box-selectable,
.tag-box, .tag-delete,
input, textarea, select,
body[contenteditable] {
  background-color: $light;
  color: $text;
}

div#header-row {
  background-color: $blue;
}

.left-hub-content .tree-children {
  color: $blue;
}

/********/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 60px rgba(50, 50, 50, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
}

.work-item-form-main-header {
  border-left-color: #2E2E2E;
}

.work-item-form-id a {
  color: $text;
}

.work-item-form-main-core *, .witform-layout * {
  @include setBg($light);
}

.work-item-form-main-core, .witform-layout {
  border: none;
  padding-top: 0px !important;
}

.witform-layout-content-container {
  margin-top: 10px;
}

.work-item-form-tab {
  background-color: $light !important;
  border: none !important;
}

.control .wrap {
  border: 1px solid #aaa;
}

.header-post11 #navWrapper,
.header-post11 #navWrapper * {
  background-color: $light !important;
}

.header-post11 .header-search {
  background-color: $light;
  border: 1px solid $text;
}

.left-hub-content {
  background-color: $dark;
  top: 0;
}

.hub-splitter.splitter.horizontal > .leftPane {
  border-right: 0;
}

.toolbar {
  border-bottom: 1px solid $text;
  border-top: 0;
  color: $text;
}

.source-explorer-tree.with-favorites .repository-node {
  border-top: 0;
}

.query-folder-tree .folder.top-separator {
  border: 0;
}

.responsive-grid .grid-cell .grid-cell-title {
  border-bottom: 1px solid $text;
}

.hub-title {
  @include setBg($dark);
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.tree-view > ul.tree-children li.selected > a > div.node-content,
.tree-view.focus > ul.tree-children li.selected > a > div.node-content,
li.tree-drag-tile > a > div.node-content,
.sidebar-search .search-input-wrapper {
  background-color: $light;
  border: 1px solid $light;
}

.bowtie-folder {
  color: $orange !important;
}

.bowtie-git {
  color: $red !important;;
}

.filtered-list-popup {
  background-color: $text;
}

button, button.ui-state-default, button.ui-button {
  @include setBg($light);
  border: 0;
}

.tag-container {
  border: 1px solid $light;
}

.combo, .mru-identity-picker {
  background: $light;
  border: 1px solid $light;
}

.filters a {
  color: $blue;
}

.taskboard-cell {
  background-color: $light;
  border-bottom: 1px solid $dark;
  border-left: 1px solid $dark;
  border-right: 1px solid $dark;
}

.taskboard-expander {
  background-color: $dark;
  border-bottom: 1px solid $dark;
}

.board-add-card {
  background-color: $light;
  border: solid 1px $blue;
}

.agile-board .horizontal .horizontal-table > .row > .cell:first-of-type,
.agile-board .horizontal .horizontal-table > .row > .cell {
  border-bottom: 1px solid $light;
  border-left: 1px solid $dark;
  border-right: 1px solid $light;
}

.agile-board .horizontal .horizontal-table > .row.header > .cell {
  background-color: $light;
  border-bottom: 1px solid $dark;
}

.agile-board .board-tile .board-tile-content {
  border: 0;
}

.versioncontrol-explorer-view .source-path,
.combo-drop-popup,
.chart-hosts-list > .message-block.invalid,
.query-type .pivot-filter li.selected,
.tbTile .tbTileContent {
  background-color: $light;
  border: 0;
}

body[contenteditable] td {
  color: $dark;
}

.witform-layout-header-color {
  padding-left: 0px !important;
}

.query-type,
.query-editor .toolbar.work-item-list-toolbar,
.vc-changes-list-filter .advanced-filter input,
.vc-changes-list-filter .advanced-filter .combo {
  border-bottom: 1px solid $text;
}

.textbox, .input-text {
  border: 0;
}

.query-editor .filters {
  padding-bottom: 10px;
}

.ui-dialog,
.ui-dialog-buttonpane {
  background-color: $dark;
  border: 0;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  @include setBg($light);
  border: 0;
}

a,
table[aria-label="Second-level navigation"] .menu-item .bowtie-clone-to-desktop .text {
  color: $text !important;
}