@import "mixins";

$dark: #2b2b2b;
$light: #595959;
$link: #70a4ff;
$link-visited: #5090ff;
$text: white;

@mixin setBg($backColor) {
  @include bg($backColor);
  @include fg($text);
}

@mixin setFg() {
  @include fg($text);
}

/*===============================*/
/*===========   MAIN   ==========*/

#calcontent a {
  color: $link;

  &:visited {
    color: $link-visited
  }
}

#calcontent,
#tgTable,
#weekViewAllDaywk,
#calmaster,
#scrolltimedeventswk,
#calcontent td,
#gridcontainer .tg-time-pri,
#nav > *,
#nav .dpdiv,
#nav tr,
#mainnav,
#vr-nav,
.wk-weektop,
.tg-times-pri,
.calList,
.aplogo,
.calHeader,
.chromeColor,
.wk-allday .st-bg-today,
.dp-cell.dp-dayh,
.wk-dummyth,
.tg-col,
.cgd-col,
#gb .gb_ve,
#gb .gb_re,
#gb .gb_se,
#gb .gb_ue,
#gb .gb_wf,
#gb .gb-we {
  @include setBg($dark);
}

/* A lighter gray column for Today */
.tg-today,
.wk-today.wk-dayname {
  @include setBg($light);

}

.calListLabel,
.calListLabel-sel,
.date-top,
.wk-daylink,
.calHeaderSpace,
.calListLabel,
.calListLabel-sel span {
  @include setFg();
}

#calcontent table,
#calcontent td,
.tg-col,
.tg-row {
  @include br(gray);
}

/*===============================*/
/*======   MINI CALENDAR   ======*/

/* Gray out days not in this month */
#calcontent td.dp-offmonth {
  @include fg(gray);
}

/* Highlight this week */
#calcontent td {
  &.dp-weekday-selected,
  &.dp-weekend-selected {
    @include bg($light);
  }
}

/*===============================*/
/*=========   BUTTONS   =========*/

/* Hide weird transition gradient image */
.trans-strip.goog-inline-block {
  display: none;
}

/*===============================*/
/*=======   AGENDA VIEW   =======*/
#gridcontainer,
#lv_listview .lv-datecell {
  background-color: $dark;
}

.lv-event-time,
.lv-location {
  @include setFg();
}

/*===============================*/
/*=======   EDIT SCREEN   =======*/

.ep-dp,
.ep-dp-dt-th,
.ep-go-label,
#maincell {
  @include setBg($dark);
}

/*===============================*/
/*====   SETTINGS SCREEN   ======*/

/* Same dark color for table cells */
#svalues tr,
#svalues tr > td,
#svalues tr > td > div,
#set,
#coverinner .buttons,
#sbody,
#coverinner > .privacy-policy {
  @include setBg($dark);
}

/* Lighter color for every other table cell */
#svalues tr:nth-child(even) {
  &, & > td, & > td > div {
    @include setBg($light);
  }
}

.stitle {
  @include setFg();
}

#svalues tr > td {
  div, h1, h2, h3, h4, h5, h6 {
    @include setFg();
  }
}

