@import "mixins";

$dark: #1e1e1e;
$light: #2e2e2e;
$lighter: #424242;
$text: #ececec;
$very-light-grey: rgba(82, 82, 82, 0.31);

$blue: #2196F3;
$orange: #ff9800;
$red: #F44336;
$green: #393;

@mixin setColors($backColor) {
  @include colors($text, $backColor, $backColor);
}

@mixin setBg($backColor) {
  @include bg($backColor);
  @include fg($text);
}

.left-hub-content .node-content .text,
.node-link > .node-content,
.grid-cell a,
.watermark,
.bowtie-icon,
.selected-item-text,
.text-filter-box input,
.grid-row,
.ui-widget-content,
.ui-dialog .ui-dialog-title,
.query-type .pivot-filter li.selected .text,
.query-type .pivot-filter li .text,
.work-item-view legend,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.mapping-pane-title,
.vc-history-basic-filter .selected-filter,
.grid-header,
label,
legend,
.board-tile .assignedTo,
.tbPivotItem .witTitle,
th .witState,
.pivot-filter .title,
.hub-title-right, .hub-title-right-secondary,
.views a,
.rendered-markdown,
.rendered-markdown h2,
.agile-board .member.header,
.tbTile .clickableTitle,
.parentTbTile .witState,
.tbTile .witTitle,
.field-container.assignedTo,
.tbTile .witAssignedTo,
table[aria-label="Second-level navigation"] .menu-item .text,
a,
.vc-history-list .results-container .history-result a,
.vc-history-list .results-container .history-result a:link,
.vc-history-list .results-container .history-result a:visited,
table[aria-label="Second-level navigation"] .menu-item .bowtie-clone-to-desktop .text {
  color: $text !important;
}

.splitter.horizontal > .handleBar,
.menu-item.toggle-on,
.combo > div.wrap > input.invalid,
.combo.invalid > div.wrap > input,
.menu-item.toggle-on,
.vc-history-list .results-container .history-result .result-details .change-link-container .more-comment-link,
.ui-tabs .ui-tabs-nav,
.splitter > .handleBar, .splitter > .handleBar-clone,
.agile-board .board-tile,
.board-tile.ui-draggable-dragging,
.vsts-header .hub-bar .left-section,
.hub-bar .header-table .right-section,
a:hover {
  background-color: $light;
}

.left-hub-content .ui-droppable,
.workitem-header-bar,
.text-filter-box,
.vc-pullrequest-review-view .tabContent-two-pane > .with-background,
.ui-dialog .ui-dialog-titlebar,
.agile-board .horizontal > .agile-content-container > .content-container-innerDiv-class .horizontal-table,
.ui-droppable,
.taskboard-content-row .taskboard-expander, .taskboard-content-row .taskboard-parent,
.hub-pivot-content,
.vc-pullrequest-review-view .tabContent-two-pane > .centerPane-static,
.vc-pullrequest-create-panel {
  @include bg($dark);
}

/*****************************************************************/
/************************ TITLEBARS ******************************/

// Main page content (the color shown when the page is initially loading)
.content-section {
  @include setBg($dark);
}

// Second level title bar loading color
table.\12 .header-td, #\31 > table.header-table.l2 {
  &, tbody > tr > td {
    @include setBg($light);
  }
}

.vsts-header .hub-bar {
  @include setBg($light);
}

// Top Home, Code, Work menubar
.hub-selector .menu.sub-menu {
  @include setColors($light);

  & > .menu-item-container > .menu-item,
  .menu-item.second-level-menu {
    background-color: $light !important;
    color: $text;

    &.hover {
      background-color: $light !important;
    }

    .icon, .drop {
      color: $text;
    }
  }
  .menu-item.menu-item-separator {
    background-color: $light !important;
  }
}

// Search code box
#\31 > table.header-table.l1 #searchbox {
  @include setBg(#0069b2);
}


// Little triangle at the bottom of the top menubar item
.vsts-header .hub-selector .hubs-menubar.menu-bar > .menu-item.selected::after,
.vsts-header .hub-selector .hubs-menubar.menu-bar > .menu-item-container > .menu-item.selected::after {
  border-bottom: 6px solid $light !important;
}

// Second level title bar
.vsts-header .hub-list .l2-menubar {
  & > .menu-item,
  & > .menu-item-container > .menu-item {
    &.focus, &.hover {
      @include setColors($dark);
    }
  }
}

// Repo selector button and list
.filtered-list-dropdown-menu.vc-git-selector-menu {
  @include setBg($light);

  &:hover, &.menu-opened {
    @include setBg($dark);
  }
}

// Current repo link
.path-explorer-container .repo-name {
  &:hover {
    @include setBg($light);
  }
}

// Upper left section selector
.vsts-header .l1-project-selector.menu-bar .sub-menu {
  @include setColors($dark);

  li:hover {
    @include setBg($light);
  }
}

.bowtie-menus .menu.sub-menu {
  .menu-item, .menu-item-container > .menu-item {
    @include setColors($dark);

    &.hover {
      @include setColors($light);
    }
  }
}

// Highlight the line commented on
.code-editor-host .commented-text {
  @include bg(rgba(0, 0, 0, 0.45));
}

/*****************************************************************/
/********************* LEFT PANE MENU ***************************/

// Selected scope on left (sprints, queries, etc.)
.tree-view.bowtie-tree {
  &, &.focus {
    ul.tree-children li {
      &.selected, &.focus {
        & > a > div.node-content {
          @include setColors($light);
        }
      }
    }
  }
}
li.tree-drag-tile.bowtie-tree > a > div.node-content {
  @include setColors($light);
}
.tree-view > ul.tree-children li.node {
  &.selected, &.focus, &.hover, &.context-menu-active {
    & > a > div.node-content {
      @include setColors($light);
    }

    & > .node-context-menu-container, & > .node-context-menu {
      @include setColors($light);
    }
  }
}


/****************************************************************************************************/
/***************************************** GLOBALS *************************************************/

/**************************************************/
/*************** POP UP MENUS ********************/

// At least the context menu in the work view
ul.menu-popup {
  @include br($light);

  .menu.sub-menu {
    @include setColors($light);

    .menu-item, .menu-item-container {
      @include setColors($light);

      &.hover, &.focus, &:hover, &:focus {
        background-color: $dark !important;
      }

      .drop {
        color: $text;
      }
    }
  }
}

// All popup dialogs (New Task Dialog specifically)
.ui-dialog:not(.ui-dialog-legacy) {
  @include setColors($dark);
}


/**************************************************/
/************ IDENTITY PICKER DROPDOWN ***********/

// Selected identity tag
.identity-picker-resolved-bg {
  @include setColors($dark);
}

// Identity dropdown box
.identity-picker-fixed-position,
.vc-pullrequest-create-reviewers-container {
  @include setColors($dark);
}

// Identity dropdown arrow
.identity-picker-search-box {
  @include setColors($light);
}

// Identify dropdown menu items
.identity-picker-dropdown {
  ul.items > li, .search {
    @include setColors($dark);

    &, &.selected {
      &:hover {
        @include setColors($lighter);
      }
    }
  }
}

// Autocomplete highlight when tagging
.richtext-autocomplete-highlight {
  @include setColors($dark);
}

/****************************************************************************************************/
/************************************ PULL REQUEST PAGE ********************************************/

.vc-change-summary > *,
.vc-change-summary .changed-files-summary-header,
.vc-change-summary-files .files-container,
.vc-pullrequest-review-view .bowtie input[type=text],
.vc-discussion-thread-inputtextbox {
  @include setColors($dark);
}

.vc-pullrequest-review-view .bowtie textarea {
  @include setColors($light);
}

// Pull request commits
.vc-history-list .results-container .group-header,
.vc-pullrequest-review-view .pullrequest-commits-content .group-results,
.vc-pullrequest-review-view .pullrequest-updates-content .group-results {
  @include setColors($dark);
}

.vc-history-list .results-container .history-result {
  @include br($very-light-grey);

  &:hover {
    @include bg($light);
  }
}

// Pull request updates
.vc-pullrequest-review-view .pullrequest-updates-content {
  @include bg($dark);
}

// File header in file specific view
.vc-pullrequest-file-bar,
.vc-pullrequest-review-view .centerPane-no-full-page-scroll .vc-pullrequest-details-compare .diff-viewer-container,
.file-contents-container {
  @include setColors($dark);
}

// File contents in specific file view
.lines-content.monaco-editor-background,
.monaco-editor-background {
  @include setColors($light);
  // Pieces of code in editor
  .view-lines .token {
    color: $text; // was black

    &.tag {
      color: #d67e7e;
    }
    // was maroon

    &.attribute.name.xml {
      color: #d15eff !important; // was red
    }

    &.keyword,
    &.keyword.control,
    &.attribute.value.html,
    &.delimiter.xml,
    &.string.html,
    &.attribute.value.xml {
      color: #59d3f9 !important; // was blue
    }
  }
}

// File contents in summary view
.vc-change-summary-files {
  .file-container {
    @include setColors($light);
  }

  .file-cell .file-name {
    @include fg($text);
  }
}


.vc-pullrequest-review-view {
  .vc-pullrequest-activity-box,
  .vc-pullrequest-activity-header,
  .vc-pullrequest-activity-body,
  .vc-pullrequest-activity-box.subdued,
  .discussion-input .vc-pullrequest-activity-header .vc-discussion-thread-comment {
    @include setColors($light);
  }

  .vc-inline-edit-markdown-preview {
    @include fg($text);
  }
}

.vc-pullrequest-review-view .vc-pullrequest-activity-feed {
  @include setColors($dark);
}

.vc-change-summary-files .file-cell .file-name-link {
  color: $text;
}

.vc-pullrequest-title-input,
.vc-pullrequest-description-input,
.identity-picker-input,
.vc-pullrequest-view-details-relatedartifacts-addartifactbox.textbox-input
{
  @include setColors($light);
}

// Left file list pane
.versioncontrol-pullrequests-content,
.files-grid-container
{
  .grid {
    @include br($dark);

    .grid-canvas {
      @include setColors($dark);
    }
  }
}

// List of pull requests
.vc-pullrequest-results-row {
  background-color: $dark;
  color: $text;
  border-bottom: 1px solid rgba(64, 64, 64, 0.7); // very light gray

  &:hover {
    @include bg($light);
  }
}

.vc-pullrequest-results-row {
  .primary-text {
    &:link, &:visited {
      @include fg($text);
    }
  }
}

// Pull request comments
.vc-discussion-thread-box,
.vc-discussion-thread-comment
{
  @include setColors($dark);

  .vc-discussion-comment-header {
    .vc-discussion-comment-author {
      @include fg($text);
    }
  }

  .vc-discussion-thread-renderarea {
    @include setBg($dark);

    p {
      @include setColors($dark)
    }

    a {
      @include fg($blue);
    }

    code, pre {
      @include setBg($light);
    }
  }
}
.vc-change-summary {
  @include setColors($dark);
}


// Space between line numbers next to comment
.vc-diff-viewer .text-diff-container .diff-lines .discussion-filler {
  @include setBg($light);
}

// Pull request completed box
.callout {
  @include setBg($dark);
  @include br($red);

  &.completed {
    @include br($green);
  }
}

// Main PR container that is beneath everything else
.vc-pullrequest-review-view .files-main-viewer-container {
  @include setBg($dark);
}

// Approval checkmarks
.reviewer-image-with-vote, .vc-pr-reviewer-preview-container {
  .vote-overlay {
    &.bowtie-status-success {
      @include fg($green);
    }

    &.bowtie-status-failure {
      @include fg($red);
    }

    &.bowtie-status-warning,
    &.bowtie-math-minus-circle,
    &.bowtie-status-waiting-fill
    {
      @include fg($orange);
    }
  }
}


// Task auto complete list dropdown
.mention-autocomplete-menu {
  &, & li.ui-state-focus {
    @include setColors($dark);
  }
}
// Footer of auto complete list
.mention-autocomplete-footer {
  @include setColors($light);
}

// Hover over chosen work items
.ra-item:hover, .ra-item-focus {
  @include setColors($light);
}


/****************************************************************************************************/
/************************************* BRANCHES PAGE ***********************************************/

.vc-newbranches-view .hub-pivot {
  @include setColors($dark)
}

.vc-branches-list-row {
  &:hover {
    @include setColors($light);
  }

  .vc-branch-name--emphasized {
    @include fg($text);
  }
}

// Page title
.vc-newbranches-title {
  color: $text;
}

.vc-ellipsis-menu > .action-icon > .bowtie-icon,
.vc-column.vc-ellipsis-menu {
  &:hover {
    @include setBg($dark);
  }
}

/****************************************************************************************************/
/************************************** HISTORY PAGE ***********************************************/

.vc-filter-button {
  @include setBg($dark);
}

// Filter text boxes
.vc-filter-control .combo.input-text-box {
  @include br($light);

  input::-webkit-input-placeholder {
    color: $text;
  }
}

.vc-history-detailsList.ms-DetailsList .ms-List-cell:hover {
  @include setColors($light);
}

// Commit history hover color
.vc-history-detailsList.ms-DetailsList .ms-List-cell,
.ms-DetailsRow-fields,
.vc-history-detailsList.ms-DetailsList .ms-List-cell {
  & :hover {
    @include setColors($light);
  }
}

// Pull request number column text
.vc-history-detailsList .ms-List-cell a {
  &.stat-badge .stat-text,
  &:link.stat-badge .stat-text,
  &:visited.stat-badge .stat-text {
    color: $text
  }
}

// Branch dropdown
.versioncontrol-git-history-view.git-repositories-view .vc-branches-container .filtered-list-dropdown-menu {
  &:hover {
    @include setBg($light);
  }

  &.menu-opened {
    @include setBg($light);
  }
}

// Branch popup menu
.filtered-list-popup .filtered-list-control {
  &.vc-git-version-selector-control,
  &.vc-git-repository-selector-control {
    @include setColors($light);
  }
}

// Selected branch
.filtered-list-popup .filtered-list-control.vc-git-selector {
  .filtered-list-tab-content .filtered-list > li.current-item {
    @include setBg($dark);
  }

  .toolbar .menu-item.hover {
    @include setBg($dark);
  }

  // All branch list
  .filtered-list > li {
    @include fg($text);

    &.new-selection {
      @include setBg($dark);
    }
  }
}



/****************************************************************************************************/
/*************************************** WORK VIEW *************************************************/

// Main PBI Grid
.grid .grid-row {
  &.grid-row-selected,
  &.grid-row-hover,
  &.grid-row-current {
    @include bg($light);

    .grid-context-menu {
      @include bg($light);
    }
  }
}

.grid-gutter {
  .grid-gutter-row-current,
  .grid-gutter-row-selected,
  .grid-row-hover {
    background-color: $light !important;
  }

  .grid-gutter-row-normal {
    background-color: $dark;
  }
}

// PBI Info view
.work-item-form-main-core {
  @include setColors($dark);

  .combo div.wrap > input[type=text] {
    @include bg($light);
    @include br($light);

    &:hover, &:focus {
      @include bg($light);
    }
  }
}

.work-item-form-tab {
  background-color: $light !important;
  border: none !important;

  &:hover {
    @include setBg($dark);
  }
}

// New, create query, column options button row hover
.toolbar .menu-bar > .menu-item ~ .menu-item,
.toolbar .menu-bar > .menu-item-container > .menu-item ~ .menu-item,
.workitemcontrol .menu-bar > .menu-item ~ .menu-item,
.workitemcontrol .menu-bar > .menu-item-container > .menu-item ~ .menu-item,
.toolbar .menu-bar > .menu-item {
  &.hover, &:hover {
    @include setBg($light);
  }
}

// Row highlight after mass edit
.grid:not(.grid-legacy).grid-blurred
{
  .grid-row, .grid-gutter-row {
    &.grid-gutter-row-selected-blur, &.grid-row-selected-blur {
      @include setBg($light);

      .grid-context-menu {
        @include setBg($light);
      }
    }
  }
}


/***** Work Item Detail ******/

// Top transparent bar for dragging the module (gives crosshair mouse)
.new-workitem-dialog.workitem-dialog.ui-dialog .ui-dialog-titlebar {
  @include bg(transparent);
}

// Work item detail main form
.work-item-form-main .combo.drop .wrap,
.form-grid .combo.emptyBorder,
.richeditor-container {
  @include br($light);
}

// Work item detail combo boxes
.witform-layout .combo > div.wrap.disabled,
.combo > div.wrap,
.work-item-form-coreContent .combo {
  @include setColors($light);
}

// Copy title button
.work-item-form-main .work-item-form-main-header .work-item-form-headerContent {
  .work-item-form-title.copy-hover ~ .copy-workitem-title-container,
  .copy-workitem-title-container {
    @include setBg($light);
  }
}

// Work item detail titles and underlines
.form-grid .tfs-collapsible-header {
  @include fg($text);
  border-bottom: 1px solid $very-light-grey;
}

// Work item detail save, follow, and details buttons
.work-item-form-main .work-item-form-main-header .work-item-form-toolbar-container .toolbar  {
  .menu-item {
    @include setColors($light);
  }

  // Save and close button - Blue when active, dark when disabled
  .disabled {
    &.drop-down-chevron, &.drop-down-save {
      &.menu-item {
        @include setColors($dark)
      }
    }
  }
  .drop-down-chevron, .drop-down-save {
    &.menu-item {
      @include setColors($blue);
    }
  }
}

// Work item detail Details, Planning, Time, Link, and Attachment buttons
.witform-layout .work-item-form-tabs > ul {
  border-left: 2px solid $very-light-grey;
  border-top: 1px solid $very-light-grey;
}

// Work item detail Details, Planning, Time, Link, and Attachment SELECTED button
.witform-layout .work-item-form-tab.selected-tab {
  @include setColors($dark);
}

// Work item detail property dropdown comboboxes hover
.virtualizing-list-view > .items > li.selected {
  @include setColors($lighter);
}

// Work item detail dialog background
.workitem-dialog.ui-dialog {
  @include setBg($dark);
}


/******** CHARTS *********/
.large-chart-container img,
.small-chart-group-container img
{
  -webkit-filter: invert(100%);
}


/****************************************************************************************************/
/**************************************** UNSORTED *************************************************/

.dashboard-landing .hub-content,
.tree-drag-tile.folder > .node-link > .node-content,
.tree-view .folder > .node-link > .node-content,
.hub-content,
.ui-dialog > * {
  background-color: $dark !important;
  color: $text;
}

.add-panel {
  background-color: $light;
}

.tags-add-button .tag-box-selectable,
.tag-box, .tag-delete,
input, textarea, select,
body[contenteditable] {
  @include setColors($light);
}

div#header-row {
  background-color: $blue;
}

.left-hub-content .tree-children {
  color: $blue;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 60px rgba(50, 50, 50, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
}

.work-item-form-main-header {
  border-left-color: #2E2E2E;
}

.work-item-form-id a {
  color: $text;
}

.work-item-form-main-core, .witform-layout {
  border: none;
  padding-top: 0 !important;
}

.witform-layout-content-container {
  margin-top: 10px;
}

.control .wrap {
  border: 1px solid #aaa;
}

.header-post11 #navWrapper,
.header-post11 #navWrapper * {
  background-color: $light !important;
}

.header-post11 .header-search {
  background-color: $light;
  border: 1px solid $text;
}

.left-hub-content {
  background-color: $dark;
  top: 0;
}

.hub-splitter.splitter.horizontal > .leftPane {
  border-right: 0;
}

.toolbar {
  border-bottom: 1px solid $text;
  border-top: 0;
  color: $text;
}

.source-explorer-tree.with-favorites .repository-node {
  border-top: 0;
}

.query-folder-tree .folder.top-separator {
  border: 0;
}

.responsive-grid .grid-cell .grid-cell-title {
  border-bottom: 1px solid $text;
}

.hub-title {
  @include setBg($dark);
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.tree-view > ul.tree-children li.selected > a > div.node-content,
.tree-view.focus > ul.tree-children li.selected > a > div.node-content,
li.tree-drag-tile > a > div.node-content,
.sidebar-search .search-input-wrapper {
  background-color: $light;
  border: 1px solid $light;
}

.bowtie-folder {
  color: $orange !important;
}

.bowtie-git {
  color: $red !important;;
}

.filtered-list-popup {
  background-color: $text;
}

button, button.ui-state-default, button.ui-button {
  @include setBg($light);
  border: 0;
}

.tag-container {
  border: 1px solid $light;
}

.combo, .mru-identity-picker {
  background: $light;
  border: 1px solid $light;
}

.filters a {
  color: $blue;
}

.taskboard-cell {
  background-color: $light;
  border-bottom: 1px solid $dark;
  border-left: 1px solid $dark;
  border-right: 1px solid $dark;
}

.taskboard-expander {
  background-color: $dark;
  border-bottom: 1px solid $dark;
}

.board-add-card {
  background-color: $light;
  border: solid 1px $blue;
}

.agile-board .horizontal .horizontal-table > .row > .cell:first-of-type,
.agile-board .horizontal .horizontal-table > .row > .cell {
  border-bottom: 1px solid $light;
  border-left: 1px solid $dark;
  border-right: 1px solid $light;
}

.agile-board .horizontal .horizontal-table > .row.header > .cell {
  background-color: $light;
  border-bottom: 1px solid $dark;
}

.agile-board .board-tile .board-tile-content {
  border: 0;
}

.versioncontrol-explorer-view .source-path,
.combo-drop-popup,
.chart-hosts-list > .message-block.invalid,
.query-type .pivot-filter li.selected,
.tbTile .tbTileContent {
  background-color: $light;
  border: 0;
}

body[contenteditable] td {
  color: $dark;
}

.witform-layout-header-color {
  padding-left: 0 !important;
}

.query-type,
.query-editor .toolbar.work-item-list-toolbar,
.vc-changes-list-filter .advanced-filter input,
.vc-changes-list-filter .advanced-filter .combo {
  border-bottom: 1px solid $text;
}

.textbox, .input-text {
  border: 0;
}

.query-editor .filters {
  padding-bottom: 10px;
}

.ui-dialog,
.ui-dialog-buttonpane {
  background-color: $dark;
  border: 0;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  @include setBg($light);
  border: 0;
}
