@import "../../util/mixins";
@import "../../util/colors";

// Main PBI Grid
.grid .grid-row {
  &.grid-row-selected,
  &.grid-row-hover,
  &.grid-row-current {
    @include bg($light);

    .grid-context-menu {
      @include bg($light);
    }
  }
}

.grid-gutter {
  .grid-gutter-row-current,
  .grid-gutter-row-selected,
  .grid-row-hover {
    background-color: $light !important;
  }

  .grid-gutter-row-normal {
    background-color: $darker;
  }
}

// PBI Info view
.work-item-form-main-core {
  @include setColors($darker);

  .combo div.wrap > input[type=text] {
    @include bg($light);
    @include br($light);

    &:hover, &:focus {
      @include bg($light);
    }
  }
}

.work-item-form-tab {
  background-color: $light !important;
  border: none !important;

  &:hover {
    @include setBg($darker);
  }
}

// New, create query, column options button row
.toolbar .menu-bar > .menu-item ~ .menu-item,
.toolbar .menu-bar > .menu-item-container > .menu-item ~ .menu-item,
.workitemcontrol .menu-bar > .menu-item ~ .menu-item,
.workitemcontrol .menu-bar > .menu-item-container > .menu-item ~ .menu-item,
.toolbar .menu-bar > .menu-item {
  @include text();

  &.hover, &:hover {
    @include fg($blue);
  }
}

// Row highlight after mass edit
.grid:not(.grid-legacy).grid-blurred
{
  .grid-row, .grid-gutter-row {
    &.grid-gutter-row-selected-blur, &.grid-row-selected-blur {
      @include setBg($light);

      .grid-context-menu {
        @include setBg($light);
      }
    }
  }
}

/**************************************************/
/*************** Work Item Detail ****************/

// Top transparent bar for dragging the module (gives crosshair mouse)
.new-workitem-dialog.workitem-dialog.ui-dialog .ui-dialog-titlebar {
  @include bg(transparent);
}

// Work item detail main form
.work-item-form-main .combo.drop .wrap,
.form-grid .combo.emptyBorder,
.richeditor-container {
  @include br($light);
}

// Work item detail combo boxes
.witform-layout .combo > div.wrap.disabled,
.combo > div.wrap,
.work-item-form-coreContent .combo {
  @include setColors($light);
}

// Border around state, reason, area, iteration combo boxes at the top of a work items
.work-item-responsive-header .workitemcontrol .combo {
  @include bg($light);
}

// Copy title button
.work-item-form-main .work-item-form-main-header .work-item-form-headerContent {
  .work-item-form-title.copy-hover ~ .copy-workitem-title-container,
  .copy-workitem-title-container {
    @include setBg($light);
  }
}

// Work item detail titles and underlines
.form-grid .tfs-collapsible-header {
  @include fg($text);
  border-bottom: 1px solid $very-light-grey;
}

// Work item detail save, follow, and details buttons
.work-item-form-main .work-item-form-main-header .work-item-form-toolbar-container .toolbar  {
  .menu-item {
    @include setColors($light);
  }

  // Save and close button - Blue when active, dark when disabled
  .disabled {
    &.drop-down-chevron, &.drop-down-save {
      &.menu-item {
        @include setColors($darker)
      }
    }
  }
  .drop-down-chevron, .drop-down-save {
    &.menu-item {
      @include setColors($blue);
    }
  }
}

// Work item detail Details, Planning, Time, Link, and Attachment buttons
.witform-layout .work-item-form-tabs > ul {
  border-left: 2px solid $very-light-grey;
  border-top: 1px solid $very-light-grey;
}

// Work item detail Details, Planning, Time, Link, and Attachment SELECTED button
.witform-layout .work-item-form-tab.selected-tab {
  @include setColors($darker);
}

// Work item detail dialog background
.workitem-dialog.ui-dialog {
  @include setBg($darker);
}

// Work item detail link highlight
.la-item:hover, .la-item.la-item-focus {
  background: #333232;
}

// Comments at the bottom of detail tab
.discussion-messages-messagecontent {
  @include text();
}

// Work item links in right column
.la-primary-data a {
  &, &:visited {
    @include text();
  }
}
