@import "../util/mixins";
@import "../util/colors";

$code-added-back-color: rgba(0, 255, 0, 0.3);
$code-removed-back-color: rgba(255, 0, 0, 0.3);
$code-modified-highlight-color: rgba(0, 0, 0, 0.3);
$code-comment-highlight-color: rgba(0, 0, 0, 0.5);//rgba(42, 243, 232, 0.2);

// Top PR section underneath blue titlebar
.hub-title {
  @include setBg($dark);
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.hub-pivot {
  @include setColors($dark);
}

.vc-pullrequest-review-view {
  // PR title textbox
  .bowtie input[type=text] {
    @include setColors(tint($dark, 5));
  }

  // Complete button
  .bowtie button.cta, .bowtie button.btn-cta {
    @include setColors($dark-blue);
  }
}


// Approve button
#pull-request-vote-button {
  @include bg($dark-blue);
}
#pull-request-vote-button-menubutton {
  @include bg($dark-blue);
  border-left-color: $dark;
}

// Approve button flyout
.ms-Callout {
  @include br($very-light-grey);

  .ms-ContextualMenu-item {
    button:hover {
      @include bg($dark);
    }
  }

  .ms-ContextualMenu-divider {
    @include bg($very-light-grey);
  }
}


// PR elipsis button
.vc-pullrequest-review-view button.clear-button {
  @include bg(transparent);

  &:hover {
    @include bg($lighter);
  }
}

// Author name
.ms-Fabric { @include text(); }

// Overview, files, updates, commits tabs
$tab-text-color: shade($text, 30);
.vc-pullrequest-tabs li a:hover {
  @include fg($tab-text-color);
}
.pivot-view a:visited, .pivot-view a:active {
  @include fg($tab-text-color);
}

.vc-change-summary > *,
.vc-change-summary .changed-files-summary-header,
.vc-change-summary-files .files-container
{
  @include setColors($darker);
}

.vc-pullrequest-review-view .bowtie textarea {
  @include setColors($light);
}

// Pull request commits
.vc-history-list .results-container .group-header,
.vc-pullrequest-review-view .pullrequest-commits-content .group-results,
.vc-pullrequest-review-view .pullrequest-updates-content .group-results {
  @include setColors($darker);
}

.vc-history-list .results-container .history-result {
  @include br($very-light-grey);

  &:hover {
    @include bg($light);
  }
}

// Pull request updates
.vc-pullrequest-review-view .pullrequest-updates-content {
  @include bg($darker);
}

// File header in file specific view
.vc-pullrequest-file-bar,
.vc-pullrequest-review-view .centerPane-no-full-page-scroll .vc-pullrequest-details-compare .diff-viewer-container,
.file-contents-container {
  @include setColors($darker);
}

// File background in specific file view
.lines-content.monaco-editor-background,
.monaco-editor-background {
  @include setColors($light);
}

// File contents in specific file view
.mtk1 { @include text(); } // plain text
.mtk5 { @include fg($code-keyword); } // json strings
.mtk4, .mtk6 { @include fg($code-keyword); } // keywords/properties
.mtk7 { @include fg($code-comment); } // json integers
.mtk8 { @include fg($code-comment); } // comments
.mtk14{ @include fg($code-tag); } // html/xml tags
.mtk20 {@include fg($code-tag); } // strings
.mtk23 {@include fg($code-name); } // code block

// Specific file view deletions and insertions
.code-editor-host .monaco-editor {
  .line-insert { @include bg($code-added-back-color); }
  .line-delete { @include bg($code-removed-back-color); }
  .char-insert { @include bg($code-modified-highlight-color); }
  .char-delete { @include bg($code-modified-highlight-color); }
}


// Titles in markdown text view
.monaco-editor.vs {
  .token {
    .entity.name {
      &, &.tag {
        color: #ff7272;
      }
    }
    .support {
      .property-value, .type.json {
        color: #1de6fa;
      }
    }
  }
}

// Rendered markdown view
.rendered-markdown {
  * {
    @include fg($text);
  }

  pre, code {
    @include setColors($light);
  }
}

// PR diff highlights
.vc-diff-viewer {
  .code-line {
    &.added-content,
    &.added-content-fullrow {
      @include bg($code-added-back-color);
    }

    &.deleted-content,
    &.deleted-content-fullrow {
      @include bg($code-removed-back-color);
    }

    .comment {
      @include bg($code-comment-highlight-color);
    }
  }

  span.content-modified {
    @include bg($code-modified-highlight-color);
  }

  span.content-original {
    @include bg($code-removed-back-color);
  }
}
.diff-line-count-container {
  &.file-lines-added {
    @include bg($code-modified-highlight-color);
  }
  &.file-lines-deleted {
    @include bg($code-removed-back-color);
  }
}


// Some binary diff fields
.vc-diff-viewer .diff-message {
  @include setColors($light);
}

// File contents in summary view
.vc-change-summary-files {
  .file-container {
    @include setColors($light);
  }

  .file-cell .file-name {
    @include text();
  }
}

// File names in left hand file list in "Files" view
.vc-file-name-cell .file-name {
  @include text();
}

// Hover and selected rows in left hand file list in "Files" view
.tree .tree-row {
  &:hover, &[aria-selected="true"] {
    @include setColors($light);
  }
}

// Hover in right hand of splitter view in "Files" view
.vss-DetailsList.ms-DetailsList .ms-List-cell .ms-DetailsRow {
  &:hover {
    @include setColors($light);
  }
}

// File names for file snippets from comments
.vc-pullrequest-review-view .vc-pullrequest-activity-box.inline-comment .vc-pullrequest-activity-header .file-link .file-name {
  @include text();
}

.vc-pullrequest-review-view {
  .vc-pullrequest-activity-box,
  .vc-pullrequest-activity-header,
  .vc-pullrequest-activity-body,
  .discussion-input .vc-pullrequest-activity-header .vc-discussion-thread-comment {
    @include setColors($light);
  }

  .vc-inline-edit-markdown-preview {
    @include fg($text);
    code {
      @include bg($darker);
    }
  }
}

.vc-pullrequest-review-view

.vc-pullrequest-review-view .vc-pullrequest-activity-feed {
  @include setColors($darker);
}

.vc-change-summary-files .file-cell .file-name-link {
  color: $text;
}

.vc-pullrequest-title-input,
.vc-pullrequest-description-input,
.identity-picker-input,
.vc-pullrequest-view-details-relatedartifacts-addartifactbox.textbox-input,
.hljs
{
  @include setColors($light);
}

// Left file list pane
.versioncontrol-pullrequests-content,
.files-grid-container
{
  .grid {
    @include br($darker);

    .grid-canvas {
      @include setColors($darker);
    }
  }
}

.vc-pullRequest-list-section .ms-List-cell {
  @include bg($darker);
  @include text();
  border-bottom: 1px solid rgba(64, 64, 64, 0.7); // very light gray

  span[role="heading"] {
    @include text();

    &:hover {
      @include fg($blue);
    }
  }

  // The comment count at the far right of the pull request row
  a {
    &, &:link, *:visited {
      @include text();
    }
  }
}

// Pull request comments
$comment-color: shade($light, 20);
.vc-discussion-thread-box,
.vc-discussion-thread-comment
{
  @include setColors($comment-color);

  .vc-discussion-comment-header {
    .vc-discussion-comment-author {
      @include fg($text);
    }
  }

  .vc-discussion-thread-renderarea {
    @include setBg($comment-color);

    p {
      @include setColors($comment-color)
    }

    a {
      @include fg($blue);

      code {
        @include fg($blue);
      }
    }

    code, pre {
      @include setBg($light);
    }
  }

  .vc-discussion-comment-text-area-footer {
    border: 0;
    .vc-discussion-comment-instructions-area {
      @include bg($comment-color);
    }
  }
}
.vc-change-summary {
  @include setColors($darker);
}

// Markdown preview code while writing comment
.simple-inline-edit .vc-inline-edit-markdown-preview code {
  @include bg($light);
}

// Pushed update text in PR timeline
.vc-history-detailsList {
  .ms-List-cell a {
    &, &:link, &:visited { @include text(); }
  }
  .avatar-badge .author .badge-text-style { @include text(); }
  .ms-DetailsRow-cell .inline { @include text(); }
}


// Space between line numbers next to comment
.vc-diff-viewer .text-diff-container .diff-lines .discussion-filler {
  @include setBg($light);
}

// Pull request completed box
.callout {
  @include setBg($darker);
  @include br($red);

  &.completed {
    @include br($green);
  }
}

// Main PR container that is beneath everything else
.vc-pullrequest-review-view .files-main-viewer-container {
  @include setBg($darker);
}

// Approval checkmarks
.bowtie-math-plus,
.bowtie-status-success,
.bowtie-math-plus-light,
.bowtie-math-plus-heavy,
.bowtie-status-run
{
  @include fg($green);
}

.bowtie-status-warning,
.bowtie-math-minus-circle,
.bowtie-status-waiting-fill
{
  @include fg($orange);
}

.bowtie-edit-delete,
.bowtie-edit-remove,
.bowtie-status-error,
.bowtie-status-failure,
.bowtie-status-no-fill,
.bowtie-status-stop,
.vc-pullrequest-merge-policy-status-item>i.bowtie-math-multiply
{
  @include fg($red);
}

// Approval options dropdown
.dropdown-colored-button .dropdown-content {
  @include setColors($lighter);

  .dropdown-list .dropdown-row:hover {
    @include setColors($light);
  }
}


// Task auto complete list dropdown
.mention-autocomplete-menu {
  &, & li.ui-state-focus {
    @include setColors($darker);
  }
}
// Footer of auto complete list
.mention-autocomplete-footer {
  @include setColors($light);
}

// Hover over chosen work items
.ra-item:hover, .ra-item-focus {
  @include setColors($light);
}

// Branch dropdown invalid selection
.invalid-selection {
  @include setColors($lighter);
}

// Activity since last view notification
.vc-pullrequest-review-view .vc-pullrequest-activity-feed-last-visit {
  @include setColors($dark-blue);
}

// Overview side timeline
.vc-pullrequest-review-view .vc-pullrequest-activity-feed .vc-pullrequest-activity-box {
  .timeline-icon {
    @include bg($darker);
  }

  .timeline-icon-line {
    border: 1px solid $light;
  }

  .timeline-icon-badge {
    outline-color: $darker;
  }

  .timeline-icon-dot {
    outline: $darker;
  }
}

// Bottom created by card
.vc-pullrequest-review-view .vc-pullrequest-activity-box.subdued {
  @include setColors($darker);
}

// PR filter comments dropdown
.ms-Dropdown {
  @include text();
}
.ms-Dropdown-title {
  @include setColors($light);
}

// PBI tag in description
.mention-widget-workitem {
  @include bg($darker);

  &:hover {
    @include bg($dark);
  }

  .mention-widget-workitem-title {
    @include text();
  }
}

// "Build failed" text (probably "Build passed" too)
.vc-pullrequest-merge-policy-status-item a {
  &, &:link, &:visited {
    @include text();
  }
}

// PR Reviewers on left
.vc-pullrequest-review-view {
  .vc-pullrequest-reviewers-list .ms-DetailsRow,
  .vc-pullrequest-reviewer-row {

    &, & .ms-FocusZone {
      @include bg($darker);
      @include text();
    }
  }
}

// Pull request completion dialog
.ms-Dialog-main {
  @include setBg($darker);
}


// Pull request update dropdown
.vc-iteration-selector-row {
  // Update number badge
  .badge {
    @include bg($darker);
  }
  // Update date
  .date {
    @include text();
  }
}

// Hover color change on each row of updates dropdown
.vc-pullrequest-review .ms-Callout-container .ms-Callout.ms-Dropdown-callout .ms-Callout-main>div .ms-Dropdown-items .ms-Dropdown-item {
  &:hover {
    @include setColors($dark);
  }
}

// Divider on overview page
.vc-pullrequest-review-view .vc-pullrequest-activity-feed-divider {
  @include br($very-light-grey);
}

// Dividers on PR list page
.vc-pullRequest-list-section {
  .ms-List-cell, .vc-pullrequests-list-head {
    @include br($very-light-grey);
  }
}

// The "Markdown supported" bar below all PR comments
.root_92c5d170, .markdown-statusbar {
  @include setColors($comment-color);
}
